body,
html {
    background-color: #f9fafc;
    width: 100%;
    position: relative;
    max-width: 100%;
    overflow-x: hidden;
}

.register {
    font-family: "Arial", sans-serif;
    text-align: center;
    padding: 0px;
    background-color: #f9fafc;
}

.names-group {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group.submit,
.form-group.guest {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.login-button {
    display: block;
    width: 100%;
    background: none;
    color: #555;
    padding: 15px 0px;
    cursor: pointer;
    border: none;
    margin-top: 0px;
    text-align: left;
}

.login-button:hover {
    color: #000;
    text-decoration: underline;
}

.register h1 {
    color: black;
    font-size: 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.register h2 {
    font-size: 20px;
    color: black;
    margin-top: 10px;
    margin-bottom: 0px;
}

.form-group {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.register input[type="text"],
.register input[type="password"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
}

.password-input-wrapper {
    position: relative;
    width: 100%;
}

.icon {
    position: absolute;
    right: 20px;
    top: 53%;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    cursor: pointer;
}
