body,
html {
    background-color: #f9fafc;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.focus-muscles-view,
.duration-page-view,
.intensity-page-view {
    font-family: "Arial", sans-serif;
    text-align: center;
    padding: 0px;
    background-color: #f9fafc;
}

.subtitle {
    font-family: "Arial", sans-serif;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 0px;
    text-align: left;
}

.title-and-cancel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    padding-bottom: 40px;
}

.muscle-group-container,
.duration-group-container,
.intensity-group-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 20px;
}

.muscle-group-container {
    grid-template-columns: repeat(3, 1fr);
}

.focus,
.duration,
.intensity {
    font-size: 35px;
}

.focus {
    margin-bottom: 5px;
}

.description {
    margin-bottom: 30px;
}

.muscle-group-button,
.duration-button,
.intensity-button {
    background-color: #f0f0f0;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    outline: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.muscle-group-button:hover,
.muscle-group-button.selected,
.duration-button:hover,
.duration-button.selected,
.intensity-button:hover,
.intensity-button.selected {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
}

.navigation-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}

.prev-button,
.next-button {
    margin: 0 10px;
}

.cancel-button {
    margin-top: 15px;
    background-color: #dc3545;
}

.cancel-button:hover {
    background-color: #db747e;
}

button:disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

button:disabled:hover {
    background-color: #ccc;
}
