body {
  background-color: rgb(241, 255, 250);
}

.header-container {
  display: flex;
  justify-content: center; /* Center the header */
  align-items: center; /* Vertically center items */
  position: relative; /* Allow absolute positioning of button */
  margin: 20px 0; /* Optional: adds some space around the header */
  font-size: x-large;
}

.header-title {
  margin: 0; /* Remove default margin from the h1 */
}

.finish-exercise {
  position: absolute; /* Position the button absolutely */
  width: 75px;
  right: 20px; /* Move it a little from the right */
  padding: 5px 15px;
  background-color: rgb(182, 213, 249); /* Set background to grey */
  color: black; /* Text color */
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.finish-exercise:hover {
  background-color: rgb(162, 193, 229); /* Change for hover effect */
}


.add-exercise-button {
  position: absolute;
  width: 1450px;
  /* margin-right: 50px;
  margin-left: 50px; */
  height: 50px;
  padding: 5px 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 30px;
  background-color: rgb(182, 213, 249); /* Set background */
  color: black; /* Text color */
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.add-exercise-button:hover {
    background-color: rgb(162, 193, 229);
}