body,
html {
    background-color: #f9fafc;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

.home-page {
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 0px;
    background-color: #f9fafc;
}

.home-page h1 {
    color: black;
    font-size: 40px;
    margin-top: 30px;
}

.home-page h2 {
    font-size: 20px;
    color: #666;
    margin-top: 40px;
}

.buttons-group {
    margin-top: 50px;
}

.new-plan-button,
.current-workout-button,
.quick-workouts-button {
    margin: 0 10px;
    width: 230px;
}

button {
    padding: 15px 20px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 0 10px;
}

.button:hover {
    background-color: #0056b3;
}

.history-button {
    width: 100%;
    padding: 30px 0;
    position: fixed;
    bottom: 0;
}

.history-button button {
    background-color: #ccc;
    color: white;
    width: 200px;
}

.history-button button:hover {
    background-color: #0056b3;
}

.logout-button {
    position: absolute;
    top: 93px;
    right: 10px;
}